.footer {
  border-top: 1px solid #dcdbdb;

  &-top {
    padding-top: 30px;
    padding-bottom: 15px;
    position: relative;

    &__logo {
      position: absolute;
      right: 0;
      top: 30px;

      @media screen and (max-width: 1250px) {
        display: none;
      }
    }
  }

  &__container {
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: var(--text);
    max-width: 500px;
    margin: 0 auto;
  }

  &-center {
  }

  &-bottom {
    background: var(--iran-discovery-blue);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-align: right;
    color: var(--white);
    padding: 22px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.contacts-container {
  &--row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;

    @include max768 {
      gap: 15px;

      .link-img__text--col-big {
        font-weight: 500;
        font-size: 26px;
        line-height: 1.6;
        letter-spacing: 0.02em;
      }

      .link-img__text--col-mini {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: -0.03em;
        text-align: right;
        color: var(--blue-interactive);
      }
    }
  }
}

.link-footer {
  border-top: 1px solid #dcdbdb;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 20px 0 40px;

  @include max600 {
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: 24px 10px;
  }

  &__row {
  }

  &__col {
  }

  &__item {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    text-align: right;
    color: var(--text);
    &:not(:last-child){
      margin-bottom: 14px;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    text-align: right;
    color: var(--blue-interactive);
  }
}
