<section class="advantages container">
  <ul class="advantages__inner list-reset">
    <li class="advantages__item advantages-block">
      <a href="#" class="advantages-block__link">
        <img loading="lazy" src="img/advantages-1.svg" class="advantages-block__image" width="143" height="143" alt="advantages">

        <div class="advantages-block__descr">
          تور گاید <br> روسیه
        </div>

      </a>
    </li>

    <li class="advantages__item advantages-block">
      <a href="#" class="advantages-block__link">
        <img loading="lazy" src="img/advantages-2.svg" class="advantages-block__image" width="143" height="143" alt="advantages">

        <div class="advantages-block__descr">
          بیمه
        <br>  روسیه
        </div>

      </a>
    </li>

    <li class="advantages__item advantages-block">
      <a href="#" class="advantages-block__link">
        <img loading="lazy" src="img/advantages-3.svg" class="advantages-block__image" width="143" height="143" alt="advantages">

        <div class="advantages-block__descr">
          حمل و نقل در
        <br>  روسیه
        </div>

      </a>
    </li>

    <li class="advantages__item advantages-block">
      <a href="#" class="advantages-block__link">
        <img loading="lazy" src="img/advantages-4.svg" class="advantages-block__image" width="143" height="143" alt="advantages">

        <div class="advantages-block__descr">
          هتل های
        <br>  روسیه
        </div>

      </a>
    </li>

    <li class="advantages__item advantages-block">
      <a href="#" class="advantages-block__link">
        <img loading="lazy" src="img/advantages-5.svg" class="advantages-block__image" width="143" height="143" alt="advantages">

        <div class="advantages-block__descr">
          تورهای
        <br>  روسیه
        </div>

      </a>
    </li>

    <li class="advantages__item advantages-block">
      <a href="#" class="advantages-block__link">
        <img loading="lazy" src="img/advantages-6.svg" class="advantages-block__image" width="143" height="143" alt="advantages">

        <div class="advantages-block__descr">
          ویزای <br>
روسیه
        </div>

      </a>
    </li>
  </ul>
</section>
