<footer class="footer">
  <div class="footer-top container">
    <div class="footer-top__container">
      <div class="contacts-container contacts-container--row">
        <a href="tel:+98211373" class="link-img">
          <img loading="lazy" src="img/phone-big.svg" width="34" height="34" class="link-img__icon link-img__icon" alt="img">
          <span class="link-img__text link-img__text--border link-img__text--col-big">+98 211373</span>
        </a>
        <a href="tel:+981343425970" class="link-img">
          <img loading="lazy" src="img/phone.svg" width="24" height="24" class="link-img__icon" alt="img">
          <span class="link-img__text link-img__text--border">+98 1343425970</span>
        </a>
        <a href="https://telegram.org/" class="link-img">
          <img loading="lazy" src="img/telegram.svg" width="24" height="24" class="link-img__icon" alt="img">
          <span class="link-img__text link-img__text--border">+98 1343425970</span>
        </a>

        <a href="mailto:footer-top__mail" class="link-img">
          <img loading="lazy" src="img/mail.svg" width="24" height="24" class="link-img__icon" alt="img">
          <span class="link-img__text link-img__text--light-blue link-img__text--col-mini">info@shomoltour.com</span>
        </a>
      </div>

      <div class="footer__text">
        دفتر تهران:  خیابان دکتر فاطمی، هتل لاله، ِ غرفه ۱۱دفتر انزلی: خیابان رمضانی، کوچه کشاورز، ساختمان امیر کبیر، واحد ۱۱
      </div>
    </div>


    <a href="main.html" class="footer-top__logo logo">
      <img loading="lazy" src="img/Logo.svg" width="122" height="72" class="logo__img" alt="logo">
    </a>
  </div>

  <div class="footer-center direction-rtl container">
    <ul class="link-footer list-reset">
      <li class="link-footer__row">
        <ul class="link-footer__col list-reset">
          <li class="link-footer__item">
            خدمات تراسفر در روسیه
          </li>
          <li class="link-footer__item">
            <a href="#" class="link-footer__link">خرید بلیط پرواز در روسیه</a>
          </li>
          <li class="link-footer__item">
            <a href="#" class="link-footer__link">خرید بلیط قطار در روسیه </a>
          </li>
          <li class="link-footer__item">
            <a href="#" class="link-footer__link">ترانسفر فرودگاهی در روسیه </a>
          </li>
        </ul>
      </li>

      <li class="link-footer__row">
        <ul class="link-footer__col list-reset">
          <li class="link-footer__item">
            خدمات تراسفر در روسیه
          </li>
          <li class="link-footer__item">
            <a href="#" class="link-footer__link">خرید بلیط پرواز در روسیه</a>
          </li>
          <li class="link-footer__item">
            <a href="#" class="link-footer__link">خرید بلیط قطار در روسیه </a>
          </li>
          <li class="link-footer__item">
            <a href="#" class="link-footer__link">ترانسفر فرودگاهی در روسیه </a>
          </li>
        </ul>
      </li>

      <li class="link-footer__row">
        <ul class="link-footer__col list-reset">
          <li class="link-footer__item">
            خدمات تراسفر در روسیه
          </li>
          <li class="link-footer__item">
            <a href="#" class="link-footer__link">خرید بلیط پرواز در روسیه</a>
          </li>
          <li class="link-footer__item">
            <a href="#" class="link-footer__link">خرید بلیط قطار در روسیه </a>
          </li>
          <li class="link-footer__item">
            <a href="#" class="link-footer__link">ترانسفر فرودگاهی در روسیه </a>
          </li>
        </ul>
      </li>

      <li class="link-footer__row">
        <ul class="link-footer__col list-reset">
          <li class="link-footer__item">
            خدمات تراسفر در روسیه
          </li>
          <li class="link-footer__item">
            <a href="#" class="link-footer__link">خرید بلیط پرواز در روسیه</a>
          </li>
          <li class="link-footer__item">
            <a href="#" class="link-footer__link">خرید بلیط قطار در روسیه </a>
          </li>
          <li class="link-footer__item">
            <a href="#" class="link-footer__link">ترانسفر فرودگاهی در روسیه </a>
          </li>
        </ul>
      </li>

      <li class="link-footer__row">
        <ul class="link-footer__col list-reset">
          <li class="link-footer__item">
            خدمات تراسفر در روسیه
          </li>
          <li class="link-footer__item">
            <a href="#" class="link-footer__link">خرید بلیط پرواز در روسیه</a>
          </li>
          <li class="link-footer__item">
            <a href="#" class="link-footer__link">خرید بلیط قطار در روسیه </a>
          </li>
          <li class="link-footer__item">
            <a href="#" class="link-footer__link">ترانسفر فرودگاهی در روسیه </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="footer-bottom direction-rtl">
    &copy; 1401 “شمال گشت مسیر ترقی”  شماره مجوز شرکت: 11223344556676
  </div>
</footer>

<section hidden class="popup questioner-form" data-popup="questions-modal">
  <div class="popup__body">
    <div class="popup__content questioner-form__content">
      <a href="#" class="popup__close close-popup">&#10006;</a>
      <form action="#" class="form main-form">
        <div class="title-h3">Задать вопрос</div>
        <span class="main-form__subtite">Оставьте заявку, наш менеджер свяжется с Вами в ближайшее время</span>
        <div class="input-map__address main-form main-form__row">
          <div class="form-item main-form__field">
            <input class="inputMain form-input" type="name" name="name" placeholder=" ">
            <label class="form-label">Ваше имя</label>
          </div>
          <div class="form-item main-form__field">
            <input class="inputMain" type="mail" name="mail" placeholder=" ">
            <label class="form-label">Email <span class="main-form__label">*</span></label>
            <small class="main-form__error"></small>
          </div>
          <div class="form-item main-form__field">
            <input class="inputMain" id="my-input" type="tel" inputmode="tel" name="ST_REGISTER_AUTH_PHONE" autocomplete="off" placeholder=" ">
            <label class="form-label">Телефон <span class="main-form__label">*</span></label>
            <small class="main-form__error"></small>
          </div>
          <div class="main-select main-select--popup">
            <select name="Пол" class="main-select__items  multi-default--big multi-default" aria-label="По какому мероприятию вопрос*">
              <option value="">По какому мероприятию вопрос </option>
              <option value="Мероприятие 1">Мероприятие 1</option>
              <option value="Мероприятие 2">Мероприятие 2</option>
              <option value="Мероприятие 3">Мероприятие 3</option>
              <option value="Мероприятие 4">Мероприятие 4</option>
              <option value="Мероприятие 5">Мероприятие 5</option>
              <option value="Мероприятие 6">Мероприятие 6</option>
              <option value="Мероприятие 3">Мероприятие 3</option>
              <option value="Мероприятие 4">Мероприятие 4</option>
              <option value="Мероприятие 5">Мероприятие 5</option>
              <option value="Мероприятие 6">Мероприятие 6</option>
            </select>
          </div>
          <div class="form-item main-form__field">
            <textarea class="inputMain form-label__comment" type="comment" name="comment" placeholder=" "></textarea>
            <label class="form-label">Вопрос <span class="main-form__label">*</span></label>
            <small class="main-form__error"></small>
          </div>

          <span class="main-form__info">Нажимая на кнопку, Вы соглашаетесь на обработку персональных данных</span>

          <button type="submit" class="main-form__button btn-reset btn btn--yellow">Отправить</button>
        </div>
      </form>
    </div>
  </div>
</section>
