<!-- Header -->

<header class="header">
  <div class="header-top container">
    <button class="burger btn-reset" aria-label="Открыть меню" aria-expanded="false"  data-burger>
      <span class="burger__line"></span>
    </button>

    <nav class="nav-mobile" data-menu>
      <ul class="nav-mobile__list list-reset scrollbar-main">
        <li class="nav-mobile__item">
          <a href="#" class="nav-mobile__link">تورگاید روسیه</a>
        </li>
        <li class="nav-mobile__item">
          <a href="#" class="nav-mobile__link">بیمه روسیه</a>
        </li>
        <li class="nav-mobile__item">
          <a href="#" class="nav-mobile__link">ترانسفر روسیه</a>
        </li>
        <li class="nav-mobile__item">
          <a href="#" class="nav-mobile__link">هتل های روسیه</a>
        </li>
        <li class="nav-mobile__item">
          <a href="#" class="nav-mobile__link">تورهای روسیه</a>
        </li>
        <li class="nav-mobile__item">
          <a href="#" class="nav-mobile__link">ویزا روسیه</a>
        </li>
      </ul>
    </nav>

    <div class="header-top__inner">
      <div class="header-top__container">
        <button class="header-top__button btn btn--blue-fon"><span>درخواست تماس</span></button>
        <a href="mailto:header-top__mail" class="link-img">
          <img loading="lazy" src="img/mail.svg" width="24" height="24" class="link-img__icon" alt="img">
          <span class="link-img__text link-img__text--light-blue">info@shomoltour.com</span>
        </a>
      </div>
      <div class="header-top__container">
        <a href="tel:+981343425970" class="link-img">
          <img loading="lazy" src="img/phone.svg" width="24" height="24" class="link-img__icon" alt="img">
          <span class="link-img__text link-img__text--border">+98 1343425970</span>
        </a>

        <a href="https://telegram.org/" class="link-img">
          <img loading="lazy" src="img/telegram.svg" width="24" height="24" class="link-img__icon" alt="img">
          <span class="link-img__text link-img__text--border">+98 1343425970</span>
        </a>
      </div>
      <a href="tel:+98211373" class="link-img">
        <img loading="lazy" src="img/phone-big.svg" width="34" height="34" class="link-img__icon link-img__icon--big" alt="img">
        <span class="link-img__text link-img__text--border link-img__text--big">+98 211373</span>
      </a>

      <a href="main.html" class="header-top__logo logo">
        <img loading="lazy" src="img/Logo.svg" width="122" height="72" class="logo__img" alt="logo">
      </a>

    </div>


  </div>

  <nav class="header-nav nav container nav nav--pc">
    <ul class="nav__list list-reset visible-links">
      <li class="nav__item">
        <a href="#" class="nav__link">تورگاید روسیه</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">بیمه روسیه</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">ترانسفر روسیه</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">هتل های روسیه</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">تورهای روسیه</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">ویزا روسیه</a>
      </li>
    </ul>
    <ul class='list-reset hidden-links hidden'></ul>
    <button class="nav-text"></button>
  </nav>

</header>



<!--End Header -->

