<!-- hero -->
<section class="hero">
  <div class="hero__wrapper">
    <div class="hero__images bg-img slider-fade">
      <!--<img loading="lazy" src="img/test-banner.jpg" class="slider-fade__img"  width="1442" height="472"  alt="banner-img">-->
      <img loading="lazy" src="img/hero-img.jpg" class="slider-fade__img"  width="1442" height="472"  alt="banner-img">
    </div>

    <div class="hero__wrapper hero__wrapper--flex-center">
      <h1 class="hero__title h1 h1--text-center">خدمات <br>
        برای تجارت و گردشگری
        <br>در روسیه
      </h1>
    </div>
  </div>

</section>
<!-- End hero -->



