<div class="tour-catalog-section section-margin section-margin--mb-big">

  <div class="tour-catalog-section__slider direction-rtl">
    <div class="slider-container">
      <div class="swiper slider">
        <div class="swiper-wrapper slider__wrapper">
          <div class="swiper-slide slider__slide anime-block-hover">
            <a class="slider__element" href="img/card-hotel-slider.jpg" data-fslightbox="gallery">
              <picture class="bg-img bg-img--border">
                <source srcset="img/card-tour-block-mob.webp" type="image/webp" media="(max-width: 600px)" width="320" height="232">
                <source srcset="img/card-hotel-slider.webp" type="image/webp">
                <img loading="lazy"  src="img/card-hotel-slider.jpg" width="413" height="416" alt="tour-slider">
              </picture>
              <div class="card-tour__content card-tour__content--p20">
                <div class="card-tour__block">
                  <span class="card-tour__description">هتل مسکو</span>
                  <span class="card-tour__sum">30.000.000 تومان</span>

                  <div class="block-reviews">
                    <ul class="services-block list-reset">
                      <li class="services-block__item">
                        <img loading="lazy" src="img/cook-tool.svg" width="24" height="24" class="services-block__icon" alt="cook-tool">
                      </li>
                      <li class="services-block__item">
                        <img loading="lazy" src="img/tea-cup.svg" width="24" height="24" class="services-block__icon" alt="tea-cup">
                      </li>
                      <li class="services-block__item">
                        <img loading="lazy" src="img/hotel-air-conditioner.svg" width="24" height="24" class="services-block__icon" alt="hotel-air-conditioner">
                      </li>
                      <li class="services-block__item">
                        <img loading="lazy" src="img/wi-fi.svg" width="24" height="24" class="services-block__icon" alt="wi-fi">
                      </li>
                      <li class="services-block__item">
                        <img loading="lazy" src="img/pool.svg" width="24" height="24" class="services-block__icon" alt="pool">
                      </li>
                    </ul>

                    <!-- за добавление активного рейтинга отвечает класс active -->

                    <div class="star-rating">
                      <input type="hidden" class="rating-value" value="3">
                      <span class="star active" data-value="1"></span>
                      <span class="star active" data-value="2"></span>
                      <span class="star active" data-value="3"></span>
                      <span class="star active" data-value="4"></span>
                      <span class="star" data-value="5"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide slider__slide anime-block-hover">
            <a class="slider__element" href="img/card-hotel-slider.jpg" data-fslightbox="gallery">
              <picture class="bg-img bg-img--border">
                <source srcset="img/card-tour-block-mob.webp" type="image/webp" media="(max-width: 600px)" width="320" height="232">
                <source srcset="img/card-hotel-slider.webp" type="image/webp">
                <img loading="lazy"  src="img/card-hotel-slider.jpg" width="413" height="416" alt="tour-slider">
              </picture>
              <div class="card-tour__content card-tour__content--p20">
                <div class="card-tour__block">
                  <span class="card-tour__description">کیهان سن پترزبورگ المپیا</span>
                  <span class="card-tour__sum">30.000.000 تومان</span>

                  <div class="block-reviews">
                    <ul class="services-block list-reset">
                      <li class="services-block__item">
                        <img loading="lazy" src="img/cook-tool.svg" width="24" height="24" class="services-block__icon" alt="cook-tool">
                      </li>
                      <li class="services-block__item">
                        <img loading="lazy" src="img/tea-cup.svg" width="24" height="24" class="services-block__icon" alt="tea-cup">
                      </li>
                      <li class="services-block__item">
                        <img loading="lazy" src="img/hotel-air-conditioner.svg" width="24" height="24" class="services-block__icon" alt="hotel-air-conditioner">
                      </li>
                      <li class="services-block__item">
                        <img loading="lazy" src="img/wi-fi.svg" width="24" height="24" class="services-block__icon" alt="wi-fi">
                      </li>
                      <li class="services-block__item">
                        <img loading="lazy" src="img/pool.svg" width="24" height="24" class="services-block__icon" alt="pool">
                      </li>
                    </ul>

                    <div class="star-rating">
                      <input type="hidden" class="rating-value" value="3">
                      <span class="star active" data-value="1"></span>
                      <span class="star active" data-value="2"></span>
                      <span class="star active" data-value="3"></span>
                      <span class="star" data-value="4"></span>
                      <span class="star" data-value="5"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide slider__slide anime-block-hover">
            <a class="slider__element" href="img/card-hotel-slider.jpg" data-fslightbox="gallery">
              <picture class="bg-img bg-img--border">
                <source srcset="img/card-tour-block-mob.webp" type="image/webp" media="(max-width: 600px)" width="320" height="232">
                <source srcset="img/card-hotel-slider.webp" type="image/webp">
                <img loading="lazy"  src="img/card-hotel-slider.jpg" width="413" height="416" alt="tour-slider">
              </picture>
              <div class="card-tour__content card-tour__content--p20">
                <div class="card-tour__block">
                  <span class="card-tour__description">هتل سیتی</span>
                  <span class="card-tour__sum">30.000.000 تومان</span>

                  <div class="block-reviews">
                    <ul class="services-block list-reset">
                      <li class="services-block__item">
                        <img loading="lazy" src="img/cook-tool.svg" width="24" height="24" class="services-block__icon" alt="cook-tool">
                      </li>
                      <li class="services-block__item">
                        <img loading="lazy" src="img/tea-cup.svg" width="24" height="24" class="services-block__icon" alt="tea-cup">
                      </li>
                      <li class="services-block__item">
                        <img loading="lazy" src="img/hotel-air-conditioner.svg" width="24" height="24" class="services-block__icon" alt="hotel-air-conditioner">
                      </li>
                      <li class="services-block__item">
                        <img loading="lazy" src="img/wi-fi.svg" width="24" height="24" class="services-block__icon" alt="wi-fi">
                      </li>
                      <li class="services-block__item">
                        <img loading="lazy" src="img/pool.svg" width="24" height="24" class="services-block__icon" alt="pool">
                      </li>
                    </ul>

                    <div class="star-rating">
                      <input type="hidden" class="rating-value" value="3">
                      <span class="star active" data-value="1"></span>
                      <span class="star active" data-value="2"></span>
                      <span class="star active" data-value="3"></span>
                      <span class="star" data-value="4"></span>
                      <span class="star" data-value="5"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
      <div class="swiper-pagination"></div>

      <div class="slider__navigation">
        <div class="swiper-button-prev slider-arrow"><svg><use xlink:href="img/sprite.svg#arrow-left"></use></svg></div>
        <div class="swiper-button-next slider-arrow"><svg><use xlink:href="img/sprite.svg#arrow-right"></use></svg></div>
      </div>
    </div>
  </div>


</div>



