<div class="tour-catalog-section section-margin section-margin--mb-big">

  <div class="tour-catalog-section__slider direction-rtl">
    <div class="slider-container slider-container--third">
      <div class="swiper slider">
        <div class="swiper-wrapper slider__wrapper">
          <div class="swiper-slide slider__slide">
            <a class="slider__element slider__element--border" href="img/slider-article-img.jpg" data-fslightbox="gallery">
              <picture class="bg-img">
                <source srcset="img/slider-article-mob.webp" type="image/webp" media="(max-width: 600px)" width="248" height="232">
                <source srcset="img/slider-article.webp" type="image/webp">
                <img loading="lazy"  src="img/slider-article.jpg" width="413" height="297" alt="slider-article">
              </picture>
              <div class="card-tour__content card-tour__content--bottom">
                <div class="card-tour__block">
                  <span class="card-tour__description card-tour__description--blue">کنسرت در مسکو </span>
                  <p>
                    در اینجا خلاصه ای از متن مقاله آمده است. در اینجا خلاصه ای از متن مقاله آمده است. در اینجا خلاصه ای از متن مقاله آمده است. در اینجا خلاصه ای از متن مقاله آمده است
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide slider__slide">
            <a class="slider__element slider__element--border" href="img/slider-article-img.jpg" data-fslightbox="gallery">
              <picture class="bg-img">
                <source srcset="img/slider-article-mob.webp" type="image/webp" media="(max-width: 600px)" width="248" height="232">
                <source srcset="img/slider-article.webp" type="image/webp">
                <img loading="lazy"  src="img/slider-article.jpg" width="413" height="297" alt="slider-article">
              </picture>
              <div class="card-tour__content card-tour__content--bottom">
                <div class="card-tour__block">
                  <span class="card-tour__description card-tour__description--blue">کنسرت در مسکو </span>
                  <p>
                    در اینجا خلاصه ای از متن مقاله آمده است. در اینجا خلاصه ای از متن مقاله آمده است. در اینجا خلاصه ای از متن مقاله آمده است. در اینجا خلاصه ای از متن مقاله آمده است
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide slider__slide">
            <a class="slider__element slider__element--border" href="img/slider-article-img.jpg" data-fslightbox="gallery">
              <picture class="bg-img">
                <source srcset="img/slider-article-mob.webp" type="image/webp" media="(max-width: 600px)" width="248" height="232">
                <source srcset="img/slider-article.webp" type="image/webp">
                <img loading="lazy"  src="img/slider-article.jpg" width="413" height="297" alt="slider-article">
              </picture>
              <div class="card-tour__content card-tour__content--bottom">
                <div class="card-tour__block">
                  <span class="card-tour__description card-tour__description--blue">کنسرت در مسکو </span>
                  <p>
                    در اینجا خلاصه ای از متن مقاله آمده است. در اینجا خلاصه ای از متن مقاله آمده است. در اینجا خلاصه ای از متن مقاله آمده است. در اینجا خلاصه ای از متن مقاله آمده است
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide slider__slide">
            <a class="slider__element slider__element--border" href="img/slider-article-img.jpg" data-fslightbox="gallery">
              <picture class="bg-img">
                <source srcset="img/slider-article-mob.webp" type="image/webp" media="(max-width: 600px)" width="248" height="232">
                <source srcset="img/slider-article.webp" type="image/webp">
                <img loading="lazy"  src="img/slider-article.jpg" width="413" height="297" alt="slider-article">
              </picture>
              <div class="card-tour__content card-tour__content--bottom">
                <div class="card-tour__block">
                  <span class="card-tour__description card-tour__description--blue">کنسرت در مسکو </span>
                  <p>
                    در اینجا خلاصه ای از متن مقاله آمده است. در اینجا خلاصه ای از متن مقاله آمده است. در اینجا خلاصه ای از متن مقاله آمده است. در اینجا خلاصه ای از متن مقاله آمده است
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="slider__navigation slider__navigation--top-mobile">
        <div class="swiper-button-prev slider-arrow"><svg><use xlink:href="img/sprite.svg#arrow-left"></use></svg></div>
        <div class="swiper-button-next slider-arrow"><svg><use xlink:href="img/sprite.svg#arrow-right"></use></svg></div>
      </div>
    </div>
  </div>


</div>
