<div class="tour-catalog-section section-margin section-margin--mb-big">
  <div class="tour-catalog-section__block direction-rtl">
    <a href="#" class="card-tour">
      <picture class="bg-img bg-img--border">
        <source srcset="img/card-tour-block-mob.webp" type="image/webp" media="(max-width: 600px)" width="320" height="232">
        <source srcset="img/card-tour-block.webp" type="image/webp" width="630" height="440">
        <img loading="lazy" src="img/card-tour-block.jpg" class="image" width="630" height="440" alt="img">
      </picture>
      <div class="card-tour__content">
        <div class="card-tour__block">
          <span class="card-tour__name">منطقه کالینینگراد</span>
          <span class="card-tour__description">تور شهر کالینینگراد</span>
          <span class="card-tour__sum">30.000.000 تومان</span>
          <time class="card-tour__date" datetime="2024-05-14T16:00:00">5 اسفند 1403</time>
        </div>
      </div>
    </a>

    <a href="#" class="card-tour">
      <picture class="bg-img bg-img--border">
        <source srcset="img/card-tour-block-mob.webp" type="image/webp" media="(max-width: 600px)" width="320" height="232">
        <source srcset="img/card-tour-block.webp" type="image/webp" width="630" height="440">
        <img loading="lazy" src="img/card-tour-block.jpg" class="image" width="630" height="440" alt="img">
      </picture>
      <div class="card-tour__content">
        <div class="card-tour__block">
          <span class="card-tour__name">منطقه کالینینگراد</span>
          <span class="card-tour__description">تور شهر کالینینگراد</span>
          <span class="card-tour__sum">30.000.000 تومان</span>
          <time class="card-tour__date" datetime="2024-05-14T16:00:00">5 اسفند 1403</time>
        </div>
      </div>
    </a>
  </div>


  <div class="tour-catalog-section__slider direction-rtl">
    <div class="slider-container">
      <div class="swiper slider">
        <div class="swiper-wrapper slider__wrapper">
          <div class="swiper-slide slider__slide anime-block-hover">
            <a href="img/card-tour-slider.jpg" data-fslightbox="gallery">
              <picture class="bg-img bg-img--border">
                <source srcset="img/card-tour-block-mob.webp" type="image/webp" media="(max-width: 600px)" width="320" height="232">
                <source srcset="img/card-tour-slider.webp" type="image/webp">
                <img loading="lazy"  src="img/card-tour-slider.jpg" width="413" height="288" alt="tour-slider">
              </picture>
              <div class="card-tour__content">
                <div class="card-tour__block">
                  <span class="card-tour__name">منطقه کالینینگراد</span>
                  <span class="card-tour__description">تور شهر کالینینگراد</span>
                  <span class="card-tour__sum">30.000.000 تومان</span>
                  <time class="card-tour__date" datetime="2024-05-14T16:00:00">5 اسفند 1403</time>
                </div>
              </div>
            </a>

          </div>

          <div class="swiper-slide slider__slide anime-block-hover">
            <a href="img/card-tour-slider.jpg" data-fslightbox="gallery">
              <picture class="bg-img bg-img--border">
                <source srcset="img/card-tour-block-mob.webp" type="image/webp" media="(max-width: 600px)" width="320" height="232">
                <source srcset="img/card-tour-slider.webp" type="image/webp">
                <img loading="lazy"  src="img/card-tour-slider.jpg" width="413" height="288" alt="tour-slider">
              </picture>
              <div class="card-tour__content">
                <div class="card-tour__block">
                  <span class="card-tour__name">منطقه کالینینگراد</span>
                  <span class="card-tour__description">تور شهر کالینینگراد</span>
                  <span class="card-tour__sum">30.000.000 تومان</span>
                  <time class="card-tour__date" datetime="2024-05-14T16:00:00">5 اسفند 1403</time>
                </div>
              </div>
            </a>

          </div>

          <div class="swiper-slide slider__slide anime-block-hover">
            <a href="img/card-tour-slider.jpg" data-fslightbox="gallery">
              <picture class="bg-img bg-img--border">
                <source srcset="img/card-tour-block-mob.webp" type="image/webp" media="(max-width: 600px)" width="320" height="232">
                <source srcset="img/card-tour-slider.webp" type="image/webp">
                <img loading="lazy"  src="img/card-tour-slider.jpg" width="413" height="288" alt="tour-slider">
              </picture>
              <div class="card-tour__content">
                <div class="card-tour__block">
                  <span class="card-tour__name">منطقه کالینینگراد</span>
                  <span class="card-tour__description">تور شهر کالینینگراد</span>
                  <span class="card-tour__sum">30.000.000 تومان</span>
                  <time class="card-tour__date" datetime="2024-05-14T16:00:00">5 اسفند 1403</time>
                </div>
              </div>
            </a>

          </div>

          <div class="swiper-slide slider__slide anime-block-hover">
            <a href="img/card-tour-slider.jpg" data-fslightbox="gallery">
              <picture class="bg-img bg-img--border">
                <source srcset="img/card-tour-block-mob.webp" type="image/webp" media="(max-width: 600px)" width="320" height="232">
                <source srcset="img/card-tour-slider.webp" type="image/webp">
                <img loading="lazy"  src="img/card-tour-slider.jpg" width="413" height="288" alt="tour-slider">
              </picture>
              <div class="card-tour__content">
                <div class="card-tour__block">
                  <span class="card-tour__name">منطقه کالینینگراد</span>
                  <span class="card-tour__description">تور شهر کالینینگراد</span>
                  <span class="card-tour__sum">30.000.000 تومان</span>
                  <time class="card-tour__date" datetime="2024-05-14T16:00:00">5 اسفند 1403</time>
                </div>
              </div>
            </a>

          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>

      <div class="slider__navigation">
        <div class="swiper-button-prev slider-arrow"><svg><use xlink:href="img/sprite.svg#arrow-left"></use></svg></div>
        <div class="swiper-button-next slider-arrow"><svg><use xlink:href="img/sprite.svg#arrow-right"></use></svg></div>
      </div>
    </div>
  </div>
</div>



